[Unit]
Description=ContainerCleaner

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/share/containercleaner/src/ContainerCleaner.py
User=root



# Put me in /etc/systemd/system/ and run systemctl daemon-reload